body {
    margin: 20px;
    padding: 20px;
  }

h1 {
  font-family: tahoma, sans-serif;
  font: 2.5em; 
}

h2 {
  font-family: tahoma, sans-serif;
  font: 2em;
}

h3 {
  font-family: tahoma, sans-serif;
  font: 1.5em;
}

h4 {
  font-family: tahoma, sans-serif;
  font: 1em;
}

p {
  font-family: tahoma, sans-serif;
  font: .75em;
}
  
.center {
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
  top: 200px;
  left: 100 px;
}

video.center {

  display: block;
  
  margin-left: auto;
  
  margin-right: auto;
  
  }

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
} 

/* mouse over link */
a:hover {
  color: blue;
  background-color: white;
}

/* selected link */
a:active {
  color: blue;
  background-color: white;
}

  .projectcontainer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "p1 p1 p1"
      "p2 p2 p2"
      "p3 p3 p3";
  }
  
  .p1 { grid-area: p1; padding: 20px 10px; border-radius: 10%; margin-top: 10px;}
  
  .p2 { grid-area: p2; padding: 20px 10px; border-radius: 10%; margin-top: 10px;}
  
  .p3 { grid-area: p3; padding: 20px 10px; border-radius: 10%; margin-top: 10px;}
  

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: .5fr 4fr 0.5fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Sidebar Main Main"
    "Footer Footer Footer";
}

.Header { grid-area: Header; border-radius: 2%; padding: 10px 10px}

.Sidebar { grid-area: Sidebar; padding: 5px 10px; border-radius: 2%;}

.Main { grid-area: Main; padding: 20px 5px; border-radius: 2%;}

.Footer { grid-area: Footer; border-radius: 2%;}


.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2px;
  }
  
  .div1 
    { grid-area: 1 / 1 / 2 / 2; 
    }
  .div2 
    { grid-area: 1 / 2 / 2 / 3; 
    }
  .div3 
    { grid-area: 2 / 2 / 3 / 3; 
    }
  .div4 
    { grid-area: 3 / 2 / 4 / 3; 
    }